<!DOCTYPE html>
<html>
  <head>
    <title>Petshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>

    
      <%= nav_bar brand: "PetShop", brand_link: root_url do %>
        <%= menu_group do %>
          <%= menu_item "Cadastrar Novo Pet", new_animal_path %> 
        <% end %>
      <% end %>
        <div class="container">
          <%= yield %>
        </div>
    
  </body>
</html>
